{{- $hostname := .Values.ingress.host -}}
{{- $name := (index (splitList "." $hostname) 0) -}}
apiVersion: v1
kind: Service
metadata:
  name: {{ $name }}-service
  labels:
    app: {{ $name }}
    chart: {{ .Chart.Name }}-{{ .Chart.Version }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
  {{- with .Values.service.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "whisperx-api.selectorLabels" . | nindent 4 }}

